In [3]:
import requests
import random
import pandas as pd
from pandas import DataFrame
import json
import csv

In [12]:
# here we define parameters for the four queries
db_name = "nebulas"
batch_size = "10"
nr_batch_size = "2"
nr_batch_date = "20181111"
nr_date_range = "20180101-20181221"
nr_date_address = "n1ZKXqnRWSBSdrR5eDr6nA2E7BL2dJCEavr"
nr_week_address = "n1ZKXqnRWSBSdrR5eDr6nA2E7BL2dJCEavr"
transaction_address = "n1ZKXqnRWSBSdrR5eDr6nA2E7BL2dJCEavr"
collection = "nr_week"
start_ts = "15150648422" # 1.1.2018
end_ts = "1526257000"

In [13]:
 #this function query the nr address on the given date	
def nrGivenDate(db, batch, date, address):
	nr_f = csv.writer(open('nr_date1.csv', 'w'))
	nr_f.writerow(['has_more', 'in_outs', 'in_val', 'out_degree', 'weight', 'out_val', '_key', 'in_degree', '_rev', 'median', 'score', 'degrees',
		   'address', 'date', '_id', 'id'])

	nr_url = "http://111.203.228.11:9973/nr?db=" + db + "&batch_size=" + batch + "&date=" + date + "&address=" + address
	nr_page = requests.get(nr_url)
	nr_json = nr_page.text
	nr_dict = json.loads(nr_json)
	
	has_more = nr_dict['has_more']
	results = nr_dict['result']
	id = nr_dict['id']
	if id == None:
		id = "None"
		
	inouts = []
	invals = []
	outdegrees = []
	weights = []
	outvals = []
	_keys = []
	indegrees = []
	_revs = []
	medians = []
	scores = []
	degreess = []
	addresses = []
	dates = []
	_ids = []
	
	for i in range(0, len(results)):
		in_outs = nr_dict['result'][i]['in_outs']
		inouts.append(in_outs)
		in_val = nr_dict['result'][i]['in_val']
		invals.append(in_val)
		out_degree = nr_dict['result'][i]['out_degree']
		outdegrees.append(out_degree)
		weight = nr_dict['result'][i]['weight']
		weights.append(weight)
		out_val = nr_dict['result'][i]['out_val']
		outvals.append(out_val)
		_key = nr_dict['result'][i]['_key']
		_keys.append(_key)
		in_degree = nr_dict['result'][i]['in_degree']
		indegrees.append(in_degree)
		_rev = nr_dict['result'][i]['_rev']
		_revs.append(_rev)
		median = nr_dict['result'][i]['median']
		medians.append(median)
		score = nr_dict['result'][i]['score']
		scores.append(score)
		degrees = nr_dict['result'][i]['degrees']
		degreess.append(degrees)
		address = nr_dict['result'][i]['address']
		addresses.append(address)
		date = nr_dict['result'][i]['date']
		dates.append(date)
		_id = nr_dict['result'][i]['_id']
		_ids.append(_id)
		
		nr_f.writerow([has_more, in_outs, in_val, out_degree, weight, out_val, _key, in_degree, _rev, median, score, degrees, address,
					date, _id, id])
					
	nr_date_df = pd.DataFrame({'has_more': has_more,
					  'in_outs': inouts,
					  'in_val': invals,
					  'out_degree': outdegrees,
					  'weight': weights,
					  'out_val': outvals,
					  '_key': _keys,
					  'in_degree': indegrees,
					  '_rev': _revs,
					  'median': medians,
					  'score': scores,
					  'degrees': degreess,
					  'address': addresses,
					  'date': dates,
					  '_id': _ids,
					  'id': id
	})
	print(nr_date_df)

nr_date_df

In [14]:
# QUery Transactions 

f = csv.writer(open('transaction1.csv', 'w'))
f.writerow(['has_more', 'nonce', 'status', 'chainId', 'from', 'gas_price', 'type_from', 'to', '_key', 'timestamp', '_rev', 'gas_used',
		   'type_to', 'height', 'tx_id', 'gas_limit', 'contract_address', 'hash', '_id', 'data', 'tx_value', 'tx_type', 'id'])

url = "http://111.203.228.11:9973/transaction?db=nebulas&address=n1ZKXqnRWSBSdrR5eDr6nA2E7BL2dJCEavr&batch_size=10&start_ts=1515064842&end_ts=1526257000"

page = requests.get(url)
text_json = page.text
text_dict = json.loads(text_json)

has_more = text_dict['has_more']
results = text_dict['result']
id = text_dict['id']

nonces = []
statuses = []
chainIds = []
froms = []
gasprices = []
typefroms = []
tos = []
_keys = []
timestamps = []
_revs = []
gasuseds = []
typetos = []
heights = []
tx_ids = []
gas_limits = []
contract_addresses = []
hashes = []
_ids = []
datas = []
tx_values = []
tx_types = []
for i in range(0, len(results)):
	nonce = text_dict['result'][i]['nonce']
	nonces.append(nonce)
	status = text_dict['result'][i]['status']
	statuses.append(status)
	chainId = text_dict['result'][i]['chainId']
	chainIds.append(chainId)
	fr_om = text_dict['result'][i]['from']
	froms.append(fr_om)
	gas_price = text_dict['result'][i]['gas_price']
	gasprices.append(gas_price)
	type_from = text_dict['result'][i]['type_from']
	typefroms.append(type_from)
	to = text_dict['result'][i]['to']
	tos.append(to)
	_key = text_dict['result'][i]['_key']
	_keys.append(_key)
	timestamp = text_dict['result'][i]['timestamp']
	timestamps.append(timestamp)
	_rev = text_dict['result'][i]['_rev']
	_revs.append(_rev)
	gas_used = text_dict['result'][i]['gas_used']
	gasuseds.append(gas_used)
	type_to = text_dict['result'][i]['type_to']
	typetos.append(type_to)
	height = text_dict['result'][i]['height']
	heights.append(height)
	tx_id = text_dict['result'][i]['tx_id']
	tx_ids.append(tx_id)
	gas_limit = text_dict['result'][i]['gas_limit']
	gas_limits.append(gas_limit)
	contract_address = text_dict['result'][i]['contract_address']
	contract_addresses.append(contract_address)
	hash = text_dict['result'][i]['hash']
	hashes.append(hash)
	_id = text_dict['result'][i]['_id']
	_ids.append(_id)
	data = text_dict['result'][i]['data']
	datas.append(data)
	tx_value = text_dict['result'][i]['tx_value']
	tx_values.append(tx_value)
	tx_type = text_dict['result'][i]['tx_type']
	tx_types.append(tx_type)
	
		
	f.writerow([has_more, nonce, status, chainId, fr_om, gas_price, type_from, to, _key, timestamp, _rev, gas_used, type_to, height,
			   tx_id, gas_limit, contract_address, hash, _id, data, tx_value, tx_type, id])
		
df = pd.DataFrame({'has_more': has_more,
				  'nonce': nonces,
				  'status': statuses,
				  'chainId': chainIds,
				  'from': froms,
				  'gas_price': gasprices,
				  'type_from': typefroms,
				  'to': tos,
				  '_key': _keys,
				  'timestamp': timestamps,
				  '_rev': _revs,
				  'gas_used': gasuseds,
				  'type_to': typetos,
				  'height': heights,
				  'tx_id': tx_ids,
				  'gas_limit': gas_limits,
				  'contract_address': contract_addresses,
				  'hash': hashes,
				  '_id': _ids,
				  'data': datas,
				  'tx_value': tx_values,
				  'tx_type': tx_types,
				  'id': id
})

print(df)

Empty DataFrame
Columns: [has_more, nonce, status, chainId, from, gas_price, type_from, to, _key, timestamp, _rev, gas_used, type_to, height, tx_id, gas_limit, contract_address, hash, _id, data, tx_value, tx_type, id]
Index: []

[0 rows x 23 columns]

In [15]:
df.describe(include='all')

,has_more,nonce,status,chainId,from,gas_price,type_from,to,_key,timestamp,...,height,tx_id,gas_limit,contract_address,hash,_id,data,tx_value,tx_type,id
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Transaction data 
#Gas price over time 
# Number of transaction per day 
# Top send to address in a bar graph over period of 3 month 
# See correlation of price and # of transaction per day in a graph 
# Regression of a lot of activities onchain (transactions, transaction value) = x price=y. attach NAS price to the dat set of price, gas limit, transaction type, transaction value .

In [ ]:
#Merge dataset of NAS price and transaction 
df_NAS["date"] = df["date"].apply(lambda x: datetime.datetime.strptime(x , "datetime_format"))
pd.merge(df_NAS, df_Transaction, right_index=True, left_index=True)

In [ ]:
#Regression setup 
import numpy as np
import pandas as pd
import patsy

from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.model_selection import cross_val_score

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [ ]:
df_NAS.describe()
df_Nas.drop(type_to, height, tx_id, gas_limit, contract_address, hash, _id, has_more, nonce, status, chainId, fr_om, gas_price, type_from, to, _key, timestamp,)

In [ ]:
y = df_NAS.gas_price.values
#everyhting on x except for NAS price with NAS price being the dependent variable
X = df_NAS.iloc[:,1:]

# Initialize the StandardScaler object
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

# use the "fit_transform" function to standardize the X design matrix
Xs = ss.fit_transform(X)

In [ ]:
lasso = Lasso(alpha=optimal_lasso.alpha_)

lasso_scores = cross_val_score(lasso, Xs, y, cv=10)

print(lasso_scores)
print(np.mean(lasso_scores))

In [ ]:
#Ridge
ridge_alphas = np.logspace(0, 5, 200)

optimal_ridge = RidgeCV(alphas=ridge_alphas, cv=10)
optimal_ridge.fit(Xs, y)

print(optimal_ridge.alpha_)